/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82%, rgba(227, 255, 248, 1) 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

h1 {
  color: #89C5CC;
  text-decoration: none;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1F1534;
}

ul li a{
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  font-weight: normal;
  line-height: 56px;
  color: #000;
  width: 490px;
}

h2 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;

  margin: 40px 0;
  width: 400px;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background-color: #69B99D;
  border: 0;
  padding: 16px 32px 16px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

button:hover {
  background-color: #498a73;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
}
